# Data (never commit CSVs/large files)
data/
*.csv

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg
*.egg-info/
.eggs/

# Virtual env
.venv/
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS generated
.DS_Store
Thumbs.db